<div id="inbox" data-controller="inbox">
  <%= render partial: "toolbar" %>
  <%= render partial: "senders_table" %>
  <%= render partial: "onboarding" %>
  <%= render FloatingHelpButtonComponent.new %>
</div>
