<div id="inbox" data-controller="inbox">
  <%= render partial: "toolbar" %>
  <%= render partial: "senders_table" %>
  <div id="sender_drawer"></div>
  <div id="labels_modal"></div>
  <%= render partial: "onboarding" %>
</div>
