<div class="w-full my-4 sm:my-8 px-4 flex flex-col items-center text-center">
  <h2 class="text-2xl mb-4 font-semibold tracking-tight text-primary sm:text-4xl">
    Privacy Policy
  </h2>
  <p class="text-base mb-8 font-semibold max-w-2xl text-primary-500">
    TL;DR - We don't store PII or sensitive email data and will never
    sell your information.
  </p>
  <div class="flex flex-col gap-y-4 text-sm text-left max-w-4xl">
    <i>Last Updated - January 2025</i>
    <p>
      This Privacy Policy outlines how Clear My Spam ("we", "us", or
      "our") collects, protects, and uses the information provided by
      users ("you" or "your") in the course of using our web application
      ("Clear My Spam").
    </p>
    <h2 class="font-semibold text-md">
      Collection of Personal Information
    </h2>
    <p>
      Clear My Spam does not collect any personally identifiable
      information or sensitive email data from users. The only data we
      collect is your email address (for authentication) and Gmail
      thread and filter IDs. Gmail thread and filter IDs are necessary
      in order to persist email and auto-archive preferences across
      sessions, as well as to calculate Clear My Spam usage metrics and
      insights. Gmail thread IDs do not contain sensitive data or
      personally identifiable information.
    </p>
    <h2 class="font-semibold text-md">
      Collection of Non-Personal Information
    </h2>
    <p>
      When you interact with Clear My Spam, certain non-personal
      information may be automatically collected, such as device IP
      address, browser type and version, operating system type and
      version, language preferences, and usage statistics. This data is
      used solely for the purpose of improving the performance and
      usability of Clear My Spam and is not linked to any personally
      identifiable information.
    </p>
    <h2 class="font-semibold text-md">Third-Party Services</h2>
    <p>
      Clear My Spam utilizes the Gmail API to enable functionality such
      as reading and deleting emails, as well as unsubscribing from
      newsletters. While interacting with the Gmail API, Clear My Spam
      adheres to Google's privacy policies and guidelines.
    </p>
    <h2 class="font-semibold text-md">
      Use and Processing of Collected Information
    </h2>
    <p>
      The information collected by Clear My Spam, limited to Gmail
      thread and filter IDs, is used solely for the purpose of providing
      the intended functionality of the application, which is to assist
      users in managing their Gmail inbox. Clear My Spam does not engage
      in any further processing, use, or sale of collected information
      beyond this scope.
    </p>
    <h2 class="font-semibold text-md">Legal Basis for Processing</h2>
    <p>
      Clear My Spam processes Gmail thread and filter IDs under the
      legal basis of legitimate interests pursued by the application and
      its users. This processing is necessary for the performance of the
      services offered by Clear My Spam and does not infringe upon user
      privacy rights.
    </p>
    <h2 class="font-semibold text-md">
      Changes to this Privacy Policy
    </h2>
    <p>
      Clear My Spam reserves the right to update or modify this Privacy
      Policy at any time. Any changes made to the policy will be
      reflected on this page, and users are encouraged to review it
      periodically for updates.
    </p>
    <h2 class="font-semibold text-md">Contact</h2>
    <p>
      If you have any questions or concerns about this Privacy Policy,
      please contact me at
      <b class="text-primary">info@clearmyspam.com</b>.
    </p>
    <p class="font-semibold">
      By using Clear My Spam, you acknowledge that you have read,
      understood, and agreed to the terms outlined in this Privacy
      Policy.
    </p>
  </div>
</div>