<div class="isolate mx-auto mt-8 sm:mt-16 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  <%= render Pricing::PriceCardComponent.new(
    name: "Free",
    price: 0,
    term: "month",
    subtitle: "Try before you buy. No credit card required!",
    features: [
      "No credit card required",
      "Try pro features",
      "Delete your first #{AccountPlan::DEFAULT_THREAD_DISPOSAL_LIMIT} emails for free",
    ],
    cta: "Get Started",
    plan_type: "free",
    featured: false
  ) %>
  <%= render Pricing::PriceCardComponent.new(
    name: "Pro",
    tag: "Most Popular",
    price: 8,
    term: "month",
    subtitle: "Unlimited access to all features.",
    features: [
      "Bulk email deletion",
      "One-click unsubscribe",
      "Unlimited synced emails",
      "Deletion protection for critical emails",
      "Priority support"
    ],
    cta: "Unlock Pro Features",
    plan_type: "monthly",
    featured: true
  ) %>
  <%= render Pricing::PriceCardComponent.new(
    name: "Annual",
    tag: "Best Value",
    price: 20,
    term: "year",
    subtitle: "Yearly access at a hefty discount.",
    features: [
      "Full access to pro features",
      "Priority support",
    ],
    cta: "Start Annual Plan",
    plan_type: "yearly"
  ) %>
</div>