<div class="content-section">
  <h2>
    One quick question...
  </h2>
  <p>
    Hi there, thanks for giving Clear My Spam a try! I'm reaching out to ask what features or improvements
    would make Clear My Spam more valuable for you. As a solo developer, all feedback
    greatly helps me improve the app. 
  </p>
</div>

<div class="callout-section">
  <p style="color: #1467c6;">
    As a token of my appreciation, I wanted to offer a discount code for 30% off any plan:
  </p>
  <p style="margin: 8px 0 0 0; font-weight: 600; color: #1467c6;">
    <%= @discount_code %>
  </p>
</div>

<div class="content-section">
  <p>
    Please feel free to respond directly to this email (I personally read every one). If you don't
    want to hear from me in the future, you can easily unsubscribe below.
  </p>
</div>

<div class="content-section" style="text-align: center;">
  <a href="https://clearmyspam.com/app" class="button">Try Clear My Spam again →</a>
</div>


