<div class="w-full my-4 sm:my-8 px-4 flex flex-col items-center text-center">
  <h2 class="text-2xl mb-4 font-semibold tracking-tight text-primary sm:text-4xl">
    Terms & Conditions
  </h2>
  <p class="text-base mb-8 font-semibold max-w-2xl text-primary-500">
    TL;DR - I maintain full ownership over Clear My Spam, but not
    your data.
  </p>
  <div class="flex flex-col gap-y-4 text-sm text-left max-w-4xl">
    <i>Last Updated - January 2025</i>
    <p>
      Welcome to Clear My Spam ("the Service"). Your use of this Service
      is governed by the following terms and conditions. Please read
      these carefully before accessing or using the Service.
    </p>
    <h2 class="font-semibold text-md">Use Restrictions</h2>
    <p>
      You are granted permission to use the Service solely for personal
      purposes. Any commercial use of the Service requires prior written
      consent from Clear My Spam. Unauthorized commercial use is
      strictly prohibited.
    </p>
    <h2 class="font-semibold text-md">Account Responsibility</h2>
    <p>
      You are responsible for maintaining the confidentiality of your
      account credentials, including your email and password.
      Authentication for accessing the Service is handled by a trusted
      third-party provider (Google).
    </p>
    <h2 class="font-semibold text-md">Intellectual Property</h2>
    <p>
      The Service, including but not limited to its software, design,
      and content, is the exclusive property of Clear My Spam and is
      protected by intellectual property laws. Please be aware that
      while Clear My Spam owns the Service, we do not claim any
      ownership over your email data or any content contained within it.
    </p>
    <h2 class="font-semibold text-md">Limitation of Liability</h2>
    <p>
      Clear My Spam and its affiliates shall not be liable for any
      indirect, incidental, special, or consequential damages arising
      from the use of the Service. This includes, but is not limited to,
      loss of data, profits, or goodwill.
    </p>
    <h2 class="font-semibold text-md">Termination</h2>
    <p>
      Clear My Spam reserves the right to terminate or suspend your
      access to the Service without prior notice for any reason,
      including but not limited to a breach of these terms and
      conditions. Upon termination, you must cease all use of the
      Service immediately.
    </p>
    <h2 class="font-semibold text-md">Changes</h2>
    <p>
      Clear My Spam reserves the right to modify these terms and
      conditions at any time without prior notice. It is your
      responsibility to review these terms periodically for any updates
      or changes. Your continued use of the Service following the
      posting of any changes constitutes acceptance of those changes.
    </p>
    <h2 class="font-semibold text-md">Contact</h2>
    <p>
      If you have any questions or concerns about the Terms &
      Conditions, please contact me at
      <b class="text-primary">info@clearmyspam.com</b>.
    </p>
    <p class="font-semibold">
      By using Clear My Spam, you acknowledge that you have read,
      understood, and agreed to these Terms of Service.
    </p>
  </div>
</div>