<% content_for :title, "Clear My Spam | Unsubscribe" %>

<div class="w-full grow flex flex-col justify-center items-center p-4">
  <div class="text-center mb-4">
    <h2 class="text-lg font-semibold text-gray-900">Unsubscribe from marketing emails</h2>
    <p class="text-sm text-gray-600">Sorry to see you go!</p>
  </div>
  <%= render "unsubscribe_form" %>
</div>