<div class="absolute right-3 sm:right-4 hidden sm:flex flex-row gap-x-2 invisible group-hover:visible">
  <%=
    button_to protect_button_text,
              protect_button_path,
              params: { sender_ids: [@sender.id] },
              class: "sender-protect-all-button bg-white outline outline-1 outline-gray-400 rounded-full px-3 py-1 text-black text-xs font-medium hover:enabled:brightness-95 disabled:opacity-50",
              data: { action: "click->inbox#handleClickSenderAction" }
  %>
  <% unless @sender.protected %>
    <%=
      button_to dispose_button_text,
                senders_dispose_all_path,
                params: { sender_ids: [@sender.id] },
                class: "sender-dispose-all-button bg-danger rounded-full px-3 py-1 text-white text-xs font-medium hover:enabled:brightness-95 disabled:opacity-50",
                data: { action: "click->inbox#handleClickSenderAction" }
    %>
  <% end %>
</div>