<div class="my-8 sm:my-24 px-6">
  <div class="mx-auto max-w-2xl lg:text-center">
    <h2 class="text-base font-semibold text-primary">Features</h2>
    <p class="mt-2 text-3xl font-bold text-gray-900 sm:text-4xl">
      Effortlessly clean your inbox.
    </p>
  </div>

  <div class="mx-auto sm:mt-16 mt-8 max-w-2xl lg:max-w-7xl">
    <div class="grid grid-cols-3 gap-x-12 gap-y-8 leading-7">
      <div class="col-span-3 sm:col-span-1">
        <div class="flex flex-row items-center gap-x-3">
          <%= icon("fa-solid", "trash", class: "text-primary") %>
          <h3 class="font-medium">Bulk Deletion</h3>
        </div>
        <p class="mt-2 text-gray-600 text-left font-regular">
          Delete hundreds of emails with a single click.
          Emails are intuitively grouped by sender, ensuring you only delete what you want.
        </p>
      </div>
      <div class="col-span-3 sm:col-span-1">
        <div class="flex flex-row items-center gap-x-3">
          <%= icon("fa-solid", "lock", class: "text-primary") %>
          <h3 class="font-medium">Data Security</h3>
        </div>
        <p class="mt-2 text-gray-600 text-left font-regular">
          Clear My Spam is open source on
          <a class="font-medium text-primary" href="https://github.com/jonathanchen7/clearmyspam" target="_blank" rel="noopener noreferrer">
            GitHub
          </a>
          and strictly adheres to
          <a class="font-medium text-primary" href="https://developers.google.com/terms/api-services-user-data-policy" target="_blank" rel="noopener noreferrer">
            Google's user data policies.
          </a>
          Your data is never stored or shared with third parties.
        </p>
      </div>
      <div class="col-span-3 sm:col-span-1">
        <div class="flex flex-row items-center gap-x-3">
          <%= icon("fa-solid", "envelopes-bulk", class: "text-primary") %>
          <h3 class="font-medium">One-Click Unsubscribe</h3>
        </div>
        <p class="mt-2 text-gray-600 text-left font-regular">
          Effortlessly unsubscribe from unwanted newletters or spam emails. If they keep coming, create a filter to
          automatically delete them.
        </p>
      </div>
    </div>
  </div>
</div>