<div class="relative pl-16 text-left">
  <dt class="text-normal font-semibold leading-7 text-gray-900">
    <div class="absolute left-0 top-0 p-3 flex items-center justify-center rounded-lg bg-primary">
      <%= icon("fa-solid", @icon, class: "text-lg text-white") %>
    </div>
    <%= @title %>
  </dt>
  <dd class="mt-2 text-normal leading-7 text-gray-600">
    <%= @description %>
  </dd>
</div>