<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 text-left">
  <blockquote class="text-gray-900">
    "<%= @text %>"
  </blockquote>
  <figcaption class="mt-6 flex items-center gap-x-4">
    <div>
      <div class="font-semibold"><%= @author %></div>
      <div class="text-gray-600"><%= @socials %></div>
    </div>
  </figcaption>
</figure>