<div class="w-full p-4 flex flex-row items-center justify-between text-xs text-gray-400">
  <div>jonathanchen.dev</div>
  <div class="flex flex-row items-center gap-x-4">
    <%= link_to "Terms", terms_path, class: "hover:text-primary duration-200" %>
    <%= link_to "Privacy", privacy_path, class: "hover:text-primary duration-200" %>
  </div>
</div>